@import url("https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css");
* {
  /* background-color: #1B1B1B; */
}
.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.navbar i {
  position: absolute;
  left: 1%;
  font-size: 2em;
  color: white;
}
#search-bar {
  position: absolute;
  height: 70%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #424141;
  width: 40%;
  display: flex;
  align-items: center;
  left: 50%;
}
#logo {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 2px;
}

#logo img {
  height: 80%;
  width: 150%;
  /* object-fit: cover; */
}
#logo h1 {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: -1px;
  color: white;
}
#search {
  position: absolute;
  border-radius: 20px;
  height: 100%;
  width: 85%;
  border: none;
  background-color: #121212;
  color: white;
  font-size: 1.15em;
  padding-left: 10px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  /* background-color: blue; */
}
#search::placeholder {
  position: relative;
  left: 20px;
  font-size: 1.4em;
  color: #888888;
}
#search-bar #lens {
  position: absolute;
  font-size: 25px;
  left: 90%;
}
#search-bar #mic {
  position: absolute;
  left: 105%;
  border-radius: 10px;
  font-size: 25px;
}
#side-div-container {
  height: 90vh;
  width: 30vh;
  padding: 40px;
  background-color: #1b1b1b;
  border: 1px solid black;
}

/* VIDEO PAGE CSS */

.video-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-text {
  color: white;
  font-size: 1.25em;
  word-wrap: break-word;
  text-align: center;
}
